.bloco-2{
    background-color: #f1f1f1;
    padding: 5vh 10vw;
    color: #003444;
}

.bloco-2 h1{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 2px;
}

.bloco-2 .grid{
    display: grid;
    grid-template-columns: 33.3% 33.4% 33.3%;
}

.bloco-2 .grid .coluna{
    padding-right: 25%;
    margin-top: 40px;
}

.bloco-2 .grid .coluna h2{
    font-size: 1.1em;
    margin-bottom: 15px;
}

.bloco-2 .grid .coluna p{
    font-weight: 500;
    font-style: italic;
}


@media only screen and (max-width: 1170px) {
    .bloco-2 .grid .coluna{
        padding-right: 15%;
    }
}

@media only screen and (max-width: 880px) {
    .bloco-2 .grid{
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 560px) {
    .bloco-2 .grid{
        grid-template-columns: 100%;
    }
}