*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bloco-1{
    background-image: url('../imgs/bg-1.png');
    background-position: right;
    background-size: auto 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.bloco-1 .coluna-1{
    background-color: #040912;
    border-radius: 0px 50% 50% 0px;
    height: 120%;
    margin-top: -7.5%;
    padding-top: 7.5%;
    padding-left: 10vw;
}

.bloco-1 .coluna-1 #logo{
    width: 280px;
    margin-top: 8%;
}

.bloco-1 .coluna-1 h1{
    font-size: 2.8em;
    font-weight: 900;
    margin-top: 30px;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
}

.bloco-1 .coluna-1 h1 a{
    color: #FFB900;
}

.bloco-1 .coluna-1 p{
    color: #fff;
    font-weight: 500;
    width: 85%;
    margin-top: 30px;
}

.bloco-1 .coluna-1 p a{
    color: #FFB900;
}

.bloco-1 .coluna-1 #contato{
    background-color: #FE7F1E;
    display: inline-block;
    padding: 12px 20px 15px 20px;
    font-size: 1em;
    margin-top: 40px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 60px;
}

.bloco-1 .coluna-1 #contato:hover{
    transform: scale(1.1);
}

.bloco-1 .coluna-1 #contato img{
    margin-bottom: -10px;
    filter: brightness(0);
    width: 35px;
}

@media only screen and (max-width: 1530px) {
    .bloco-1{
        background-image: url('../imgs/bg-2.png');
    }

    .bloco-1 .coluna-1 #logo{
        width: 220px;
    }

    .bloco-1 .coluna-1 h1{
        font-size: 2em;
        line-height: 40px;
    }

    .bloco-1 .coluna-1 p{
        font-weight: 400;
        font-size: .9em;
        min-width: 90%;
    }
}

@media only screen and (max-width: 1170px) {
    .bloco-1{
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 880px) {
    .bloco-1{
        background-image: none;
        grid-template-columns: 100%;
    }

    .bloco-1 .coluna-1{
        border-radius: 0;
    }

    .bloco-1 .coluna-1 h1{
        width: 85%;
    }
}

@media only screen and (max-width: 560px) {
    .bloco-1 .coluna-1 #logo{
        width: 180px;
        margin-top: 5vh;
    }
    .bloco-1 .coluna-1 h1{
        font-size: 22px;
        line-height: normal;
        margin-top: 20px;
    }

    .bloco-1 .coluna-1 p{
        font-size: 16px;
    }

    .bloco-1 .coluna-1 #contato{
        padding: 12px 1px 12px 15px;
        font-size: 1em;
    }

    .bloco-1 .coluna-1 #contato img{
        display: none;
    }
}