
    /* BLOCO 1 */
.bloco-1{
    background:linear-gradient(0deg, rgba(0, 255, 191, 0.3), rgba(240, 240, 240, 1)), url('../imgs/bg-1.png');
    background-size: cover;
    box-shadow: 0 20px 20px -20px;
}

.bloco-1 .container{
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.bloco-1 .container img{
    width: 80%;
    padding-top: 8%;
    margin-left: -10%;
    margin-bottom: -4%;
}

.bloco-1 .container div{
    margin: auto;
    transform: translateY(-25%);
}

.bloco-1 .container div p{
    font-size: 18px;
    color: #111E30;
}

.bloco-1 .container div a{
    background-color: #00901D;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 9px 35px;
    border-radius: 50px;
    display: inline-flex;
    margin-top: 25px;
    transition: 0.2s;
}

.bloco-1 .container div a:hover{
    background-color: #00AE0C;
}

/*  medias  */
@media only screen and (max-width: 1500px) {
    .bloco-1 .container img{
        width: 60%;
        margin-left: 0%;
    }

    .bloco-1 .container div{
        transform: translateY(-5%);
    }

    .bloco-1 .container div a{
        font-size: 18px;
        padding: 9px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .bloco-1 .container{
        display: block;
    }

    .bloco-1 .container img{
        width: 100%;
        display: block;
        margin: 0px auto;
        text-align: center;
        padding-top: 50px;
    }

    .bloco-1 .container div p{
        margin-top: 20px;
    }

    .bloco-1 .container div a{
        margin-bottom: 20px;
    }
}

    /* BLOCO 2 */
.bloco-2{
    max-width: 1290px;
    margin: auto;
    padding: 30px;
}
    
.bloco-2 .swiper {
    width: 100%;
    height: 340px;
    padding: 20px;
}

.bloco-1 .swiper .swiper-wrapper{
    margin: 0 15px;
}

.bloco-2 .swiper .swiper-wrapper .swiper-slide{
    box-shadow: 0 5px 18px -8px;
    border-radius: 30px;
    padding: 0px 30px;
}

.bloco-2 .swiper .swiper-wrapper .swiper-slide img{
    margin: auto;
    display: flex;
    width: 50%;
}

.bloco-2 .swiper .swiper-wrapper .swiper-slide h5{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    color: #162233;
}

.bloco-2 .swiper .swiper-wrapper .swiper-slide p{
    color: #162233;
    margin-top: 7px;
}

.bloco-2 .swiper .swiper-button-next{
    transform: translateX(-15px) scale(1.5, 3);
    color: #00901D;
    transition: 0.2s;
}

.bloco-2 .swiper .swiper-button-next:hover{
    color: #00AE0C;
}


.bloco-2 .swiper .swiper-button-next::after{
    display: none;
}