
    /* BLOCO 1 */
.bloco-1 .faixa{
    background-color: #FF5F00;
}

.bloco-1 .faixa div{
    max-width: 1250px;
    display: flex;
    margin: auto;
    padding: 18px 30px;
}

.bloco-1 .faixa div h5{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .5px;
}